# Loops
in programing world some time we keep on repeating , may be you want to repeat 5 statement so one way is copy & paste multiple times or other way is 

if you want to print the datascience 1000 times then what you will you cant copy for 1000 times , if you want to print 1000 times then you cant do manualy . that is the reason why we need to apply loop ->
2 type of loops --  While loop & For loop

# WHILE LOOP

In [3]:
print('Praveen Katta')
print('Praveen Katta')
print('Praveen Katta')
print('Praveen Katta')
print('Praveen Katta')

Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta

In [4]:
i=1

while i<=9:
    print('Praveen Katta')
    i = i + 1

Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta

In [5]:
i=8

while i>=1:
    print('Praveen Katta')
    i = i - 1

Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta
Praveen Katta

In [6]:
i=1

while i<=5:
    print('Praveen Katta :',i)
    i = i + 1

Praveen Katta : 1
Praveen Katta : 2
Praveen Katta : 3
Praveen Katta : 4
Praveen Katta : 5

In [7]:
i=5

while i>=1:
    print('Praveen Katta :',i)
    i = i - 1

Praveen Katta : 5
Praveen Katta : 4
Praveen Katta : 3
Praveen Katta : 2
Praveen Katta : 1

In [8]:
i = 1

while i<=5:
    print('Praveen katta')
    j = 1
    while j<=4:
        print('HELLO')
        j = j + 1
        
    i = i + 1
    print()

Praveen katta
HELLO
HELLO
HELLO
HELLO

Praveen katta
HELLO
HELLO
HELLO
HELLO

Praveen katta
HELLO
HELLO
HELLO
HELLO

Praveen katta
HELLO
HELLO
HELLO
HELLO

Praveen katta
HELLO
HELLO
HELLO
HELLO

In [9]:
i = 1

while i<=5:
    print('Praveen katta',end="")
    j = 1
    while j<=4:
        print(' HELLO',end="")
        j = j + 1
        
    i = i + 1
    print()

Praveen katta HELLO HELLO HELLO HELLO
Praveen katta HELLO HELLO HELLO HELLO
Praveen katta HELLO HELLO HELLO HELLO
Praveen katta HELLO HELLO HELLO HELLO
Praveen katta HELLO HELLO HELLO HELLO

In [10]:
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [11]:

i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [12]:
i=1

while i <= 8:
    j = 0
    while j <= 7:
        print(i*j,end=" ") 
        j += 1
    print()
    i += 1

0 1 2 3 4 5 6 7
0 2 4 6 8 10 12 14
0 3 6 9 12 15 18 21
0 4 8 12 16 20 24 28
0 5 10 15 20 25 30 35
0 6 12 18 24 30 36 42
0 7 14 21 28 35 42 49
0 8 16 24 32 40 48 56

# FOR LOOP

In [14]:
sub ='Data science'
for i in sub:
    print(i)

D
a
t
a

s
c
i
e
n
c
e

In [15]:
l =[1,2,3,4,8,'praveen']
for i in l:
    print(i)

1
2
3
4
8
praveen

In [16]:
for i in [1,4,9,16,25,36,49,64,81,100]:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [17]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [18]:
for i in range(6,11):
    print(i)

6
7
8
9
10

In [19]:
for i in range(1,20,5):
    print(i)

1
6
11
16

In [20]:
for i in range(1,100):

    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [21]:
for i in range(1,100):

    if i%5 ==0:
        print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

# USING Break ,Continue & Pass keywords

In [23]:
x = int(input('How many chocolates do you want:?'))

i = 1
while i<=x:
    print('chocolates')
    i += 1

How many chocolates do you want:? 10

chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates

In [24]:
ava = 5

x = int(input('How many chocolates do you want:?'))

i = 1
while i<=x:
    print('chocolates')
    i += 1

How many chocolates do you want:? 11

chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates

In [25]:
available_chocolates = 10

x = int(input('How many chocolates do you want:?'))

i = 1
while i<=x:

    if i>available_chocolates:
        break
    print('chocolates')
    i += 1

How many chocolates do you want:? 44

chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates
chocolates

In [26]:
available_chocolates = 5

x = int(input('How many chocolates do you want:?'))

i = 1
while i<=x:

    if i>available_chocolates:
        print('Stock Reached its limit')
        break
    print('chocolates')
    i += 1   

print('Thank You Come Again')

How many chocolates do you want:? 11

chocolates
chocolates
chocolates
chocolates
chocolates
Stock Reached its limit
Thank You Come Again

In [27]:
for i in range(1,11):
    if i == 9:
       break 
    print(i)

1
2
3
4
5
6
7
8

In [28]:
for i in range(1,11):
    if i == 8:
       continue 
    print(i)

1
2
3
4
5
6
7
9
10

In [29]:
for i in range(1,11):
    if i == 7:
       continue 
    print('Number :',i)

Number : 1
Number : 2
Number : 3
Number : 4
Number : 5
Number : 6
Number : 8
Number : 9
Number : 10

In [30]:
for i in range(1,11): # pass the code & it wont go ( code give you the error)
    pass

In [31]:
for i in range(1,51):
    
    if i%3 == 0:
    
        print(i)
print('end')

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
end

In [32]:
for i in range(1,51):
    
    if i%3 == 0:
        continue
    print(i)
print('end')

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
end

In [33]:
for i in range(1,51):
    
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [34]:
for i in range(1,50):
    if i%3 == 0 and i%5 == 0:
        continue
    print(i)
print('end')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
end

In [35]:
for i in range(1,51):
    
    if (i%2  != 0):
        print('Odd')
        continue
    else:
        print(i)

Odd
2
Odd
4
Odd
6
Odd
8
Odd
10
Odd
12
Odd
14
Odd
16
Odd
18
Odd
20
Odd
22
Odd
24
Odd
26
Odd
28
Odd
30
Odd
32
Odd
34
Odd
36
Odd
38
Odd
40
Odd
42
Odd
44
Odd
46
Odd
48
Odd
50

# PRINTING PATTERNS

In [37]:
for i in range(1,4):
    i=i+1
    print('# # # # ')

# # # #
# # # #
# # # #

In [38]:
for i in range(1,6):
    if i<=6:
        print('# # # #')

# # # #
# # # #
# # # #
# # # #
# # # #

In [39]:
for j in range(4):
    print('#')

#
#
#
#

In [40]:
for j in range(5):
    print('* * * * *')

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [41]:
for j in range(5):
    print('&', end = " ")

& & & & &

In [42]:
for j in range(7):
    print('#', end=" ")

for j in range(7):
    print('*', end=" ")

# # # # # # # * * * * * * *

In [43]:
for j in range(7):
    print('#', end=" ")

print()

for j in range(7):
    print('*', end=" ")

# # # # # # #
* * * * * * *

In [44]:
for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

print()

for j in range(4):
    print('#', end="  ")
    
print()

for j in range(4):
    print('#', end="  ")

#  #  #  #
#  #  #  #
#  #  #  #
#  #  #  #

In [45]:
for i in range(5):
    for j in range(5):
        print('#', end="  ")
    print()

#  #  #  #  #
#  #  #  #  #
#  #  #  #  #
#  #  #  #  #
#  #  #  #  #

In [46]:
for i in range(6):
    for j in range(i+1):
        print('#', end = " ")
    print()

#
# #
# # #
# # # #
# # # # #
# # # # # #

In [47]:
for i in range(1,8):
    print("# "*i)

#
# #
# # #
# # # #
# # # # #
# # # # # #
# # # # # # #

In [48]:
for i in range(1,5):
    for j in range(4):
        if i>j:
            print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [49]:
for i in range(4):
    for j in range(i):
        print('#', end="  ")
    print()

#
#  #
#  #  #

In [50]:
for i in range(4):
    for j in range(i+1):
        print('#', end="  ")
    print()

#
#  #
#  #  #
#  #  #  #

In [51]:
for i in range(4):
    for j in range(4-i):
        print('#', end="  ")
    print()

#  #  #  #
#  #  #
#  #
#

In [52]:
for i in range(1,5):
    print("# "*(5-i))

# # # #
# # #
# #
#

# FOR ELSE
- For|Else in python
- In other language for else not supportable but in python it is supportable

In [54]:
nums = [12,15,18,21,26]

for num in nums:
    if num % 5 == 0:
        print(num)

15

In [55]:
nums = [12,14,18,21,25,30,35]

for num in nums:
    if num % 5 == 0:
        print(num)

25
30
35

In [56]:
nums = [12,14,18,21,25,20]

for num in nums:
    if num % 5 == 0:
        print(num)

25
20

In [57]:
nums = [7,14,18,21,23,27] 

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found')

Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found
Number Not Found

In [58]:
nums = [7,14] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
    else:
        print('Number Not Found')

Number Not Found
Number Not Found

In [59]:
nums = [7,14,18,21,23,27]

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Number Not Found')

Number Not Found

In [60]:
nums = [10,14,18,21,20,27] 

for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10

In [61]:
nums = [10,14,18,21,20,27,30] 

for num in nums:
    if num % 5 == 0:
        print(num)  
        #break
else:
        print('Not Found')

10
20
30
Not Found

In [62]:
nums = [10,14,18,21,20,27] #hear there is no number which is divisible by 5 we got output as blank
for num in nums:
    if num % 5 == 0:
        print(num)  
        break
else:
        print('Not Found')

10